[submodule ".vim"]
	path = .vim
	url = git@github.com:aaronjorbin/.vim.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule "scripts/bash-histor-punchcard"]
	path = scripts/bash-histor-punchcard
	url = https://github.com/askedrelic/bash-history-punchcard.git
[submodule "others/bash-it"]
	path = others/bash-it
	url = https://github.com/revans/bash-it.git
